<form method="POST" action="/issue/{{issue._id}}?_method=PUT">
    <label for="description">Description</label>
    <input type="text" name="description" value="{{singleIssue.description}}"/>

    <label for="createdAt">Created At</label>
    <input type="date" name="createdAt" value="{{singleIssue.createdAt}}"/>

    <label for="status">Status</label>
    <input type="text"  name="status" value="{{singleIssue.status}}"/>

    <label for="priority">Priority</label>
    <input type="text" name="priority" value="{{singleIssue.priority}}"/>

    <input type="submit" value="Update Issue" />
</form>

<form method="POST" action="/issue/{{issue._id}}?_method=DELETE">
    <input type="submit" value="Delete Issue" />
</form>